<!DOCTYPE html>
<!-- daily_timer.html -->
<html>
<head>
	<link rel="stylesheet" href="../shared/bottomfooter.css">
	<link rel="stylesheet" href="timer.css">
</head>

<h1>Daily Timer</h1>

<div class = "content">
<script type="text/javascript" src="timer.js"></script>
<div id="clockdiv">
<input type="text" id="time" placeholder="HOURS:MINUTES" />
<button type="button" id="start">START</button>
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
</div>

<footer align = "center">
	<p>Stop Procrastination is Developed by ACJ3 at Michigan Technological University</p>
</footer>
</html>
