<html>
<head>
  <link rel="stylesheet" href="../../view/timer/timer.css">
  <link rel="stylesheet" href="../../view/shared/bottomfooter.css">
</head>
<h1>Countdown Clock</h1>
<script type="text/javascript" src="../../controller/timer.js"></script>
<div id="clockdiv">
<input type="text" id="time" placeholder="HH:MM" />
<button type="button" id="start">START</button>
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
<footer align = "center">
  <p>Stop Procrastination is Developed by ACJ3 at Michigan Technological University</p>
</footer>
</html>
