<!-- main_menu.html /-->

<html>
    <head>
        <script src="../../jquery-3.1.1.min.js"></script>
		<script src="../../model/model.js"></script>
        <script src="../../controller/main_menu.js"></script>
		<script src="../../controller/background.js"></script>
        <link rel="stylesheet" text="text/css" href="main_menu.css">
    </head>

    <body>
        <div style="display: inline-block; margin-top:5px;">
            <img style="display: inline-block; vertical-align:middle;" width="64px" src="../assets/icon128.png"> 
            <h2 style="display: inline-block; margin-left:5px;">StopProcrastination</h2>
        </div>
        <hr>
		<div id = "div-1">
			<div id = "div-1-left" class = "a">
				<button id = "no-block-btn" class = "btn">No-Block</button><br>
				<button id = "blacklist-btn" class = "btn">Blacklist</button><br>
				<button id = "whitelist-btn" class = "btn">Whitelist</button><br>
				<button id = "blackout-btn" class = "btn">Blackout</button>
			</div>
			<div id = "div-1-right" class = "a">
<!--
				<button id = "view-timer-btn" class = "btn">View Timer</button>
				<br>
				<button id = "cancel-timer-btn" class = "btn">Cancel Timer</button>
				<br>
				<label id = "block-type-label"></label>
				<br>
				<label id = "timer-status-label"></label>
/-->
			</div>
		</div>	
		<hr>



        <a style="display: block; padding-bottom: 2px;" href="#" id="blockCurrentWebsite">Block Current Website</a>
        Add Website: <input type="text" id="addWebsite" />  <button id="addWebsiteBtn">Add</button>
        <hr>
        <fieldset id="todoContainer">
            <legend><h2>To Do</h2></legend>
            Add task: <input type="text" id="addTodo" />  <button id="addTodoBtn">Add</button></br>
        </fieldset> 
        <hr>
        <div id="footer"> 
<!--            <a class="footer" href="../blackout/blackout.html" id='blackOut'>Quick Block</a>
         | <a class="footer" href="../settings_menu/settings_menu.html" id="settings">Settings</a> -->
          <a class='footer' target='_blank' href="../main_settings/index.html">Settings</a>
         |  <a class="footer" href="../help/help.html" id="help">Help</a>
        </div>
    </body>

</html>
