<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stop Procrastion</title>
		<link rel="stylesheet" type="text/css" href="main_settings.css">
		<link href="../../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body id='body'>
		<center>
		<div id='middleBody'>
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-3">Stop Procrastion</h1>
					<p class="lead">TogeAther, we will defeat procrastion</p>
				</div>
			</div>
			<div id='main' class="col-md-8 col-md-offset-2">
				<div id='head' class='row'>
					<div class="col-md-2"><a class='navLink' href='#blacklist'>Blacklist</a></div>
					<div class="col-md-2"><a class='navLink' href='#whitelist'>Whitelist</a></div>
					<div class="col-md-2"><a class='navLink' href='#timer'>Timer</a></div>
					<div class="col-md-2"><a class='navLink' href='#daily_timer'>Daily Timer</a></div>
					<div class="col-md-2"><a class='navLink' href='#todo'>To-Do List</a></div>
					<div class="col-md-2"><a class='navLink' href='#help'>Help</a></div>
				</div>
				<iframe src="" id="iframe"></iframe>
			</div>
		</div>
		</center>
	</body>
	<script src="../../jquery-3.1.1.min.js"></script>
	<script src="../../controller/main_settings.js"></script>
</html>