<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stop Procrastion</title>
		<link rel="stylesheet" type="text/css" href="../../jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="main_settings.css">
		<link href="../../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body id='body'>
	<center>

		<div id='middleBody'>
		<img class='header' src="../assets/icon128.png"> 
		<div  class='header'>
			<h2 style='vertical-aligin:middle; padding-top:15px; margin-bottom:0px;'>Stop Procrastination</h2>
			<p style='padding:0px; margin:-5px'>Together, we can stop procrastion.</p>
		</div>
		<br /><br />
		<div id="tabs">
			<ul>
				<li><a href="#tabs-blacklist">Blacklist</a></li>
				<li><a href="#tabs-whitelist">Whitelist</a></li>
				<li><a href="#tabs-timer">Timer</a></li>
				<li><a href="#tabs-daily_timer">Daily Timer</a></li>
				<li><a href="#tabs-todo">To-Do List</a></li>
				<li><a href="#tabs-help">Help</a></li>
			</ul>
			<div id="tabs-blacklist">
				<iframe src="../blacklist/blacklist.html" id="iframe"></iframe>
			</div>
			<div id="tabs-whitelist">
				<iframe src="../whitelist/whitelist.html" id="iframe"></iframe>
			</div>
			<div id="tabs-timer">
				<iframe src="../timer/timer.html" id="iframe"></iframe>
			</div>
			<div id="tabs-daily_timer">
				<iframe src="../daily_timer/daily_timer.html" id="iframe"></iframe>
			</div>
			<div id="tabs-todo">
				<iframe src="../todo/todo.html" id="iframe"></iframe>
			</div>
			<div id="tabs-help">
				<iframe src="../help/help.html" id="iframe"></iframe>
			</div>
		</div>
				</center>
				</div>
	</body>
	<script src="../../jquery-3.1.1.min.js"></script>
	<script src="../../jquery-ui.js"></script>
	<script src="../../controller/main_settings.js"></script>
</html>