<p><b>When  "&#062;&#062;&#062; Whitelist &#060;&#060;&#060;"   is active, Stop Procrastion will block exactly the websites that you have NOT specified here on your personal whitelist.  Whitelisting can be activated and deactivated from the main popup menu.  When adding a url below, use the format "second-level-domain-name.first-level-domain-name" and use all lowercase; for example use "wikipedia.org", not "https://www.wikipedia.org" and also not "Wikipedia.org".</b></p>

<div id="status"></div>
<br />
<input placeholder="enter URL here (DO NOT include http:// or www)" type="text" style="width:450px;" id="addText"><button id="addButton">Add</button> <br />
<select id="wlform" size="10" multiple="" style="width:450px;"></select><button id="removeButton" style="vertical-align:top;">Remove Selected</button> <br />


<script src="../../jquery-3.1.1.min.js"></script>
<script src="../../model/model.js"></script>
<script src="../../controller/whitelist.js"></script>
