<html>

<head>
	<h1 align = "center">Add Tasks to Your To-Do List</h1>
	<link rel="stylesheet" href="bottomfooter.css">
</head>

<div class = "content">
<form action="todo.html" method="get">
 Add task: <input type="text" id="addTodo" />  <button id="addTodoBtn">Add</button></br>
</form>

 <hr>

 <h3>Your List:</h3>
<form action="">
	<input type="checkbox" name="item1" value="item1">Placeholder1<br>
	<input type="checkbox" name="item2" value="item2">Placeholder2<br>
	<input type="checkbox" name="item3" value="item3">Placeholder3<br>
</form>

</div>

<footer align = "center">
	<p>Stop Procrastination is Developed by ACJ3 at Michigan Technological University</p>
</footer>

</html>